.card {
  min-width: 25%;
  margin: 0.7rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;

  flex: 1;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
  transition-duration: 100ms;
  margin-bottom: 4em;
  padding-top: 45px;
}

.card:hover .pokemonImg {
  transform: scale(1.15);
}

.card:hover {
  border: 2px solid #e0e0e0;
}

.container {
  border-radius: 20px;
  box-shadow: #ededed 0 10px 10px;
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonImg {
  top: -55px;
  image-rendering: pixelated;
  position: absolute;
  transition-duration: 100ms;
}

.cardTitle {
  font-size: 1.17em;
  padding: 5px;
  font-weight: bold;
}

.cardTitle:first-letter {
  text-transform: uppercase;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.idPokemon {
  font-size: 0.8rem;
  font-weight: bold;
  color: #8f9396;
}
