.detail {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  flex: 1;
  background-color: white;

  border-radius: 20px;
  box-shadow: #ededed 0 10px 10px;
  background-color: white;
  position: sticky;
  top: 20px;
  height: calc(100vh - 40px);
  box-shadow: 0 0 10px #ccc9c9;
}

.img {
  height: 200px;
  image-rendering: pixelated;
  transition-duration: 100ms;
}

.slidesOut {
  animation: slideOut ease-in-out 0.35s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(700px);
  }
}

.slidesIn {
  animation: slideIn ease-in-out 0.35s;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translate(700px);
  }
  to {
    transform: translate(0px);
  }
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.idPokemon {
  font-size: 0.8rem;
  font-weight: bold;
  color: #8f9396;
}

.loadingBall {
  animation: rotate infinite 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
