.detail {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex: 1;

  border-radius: 20px;
  box-shadow: #ededed 0 10px 10px;
  background-color: white;
  position: sticky;
  top: 20px;
  height: calc(100vh - 120px);
  box-shadow: 0 0 10px #ccc9c9;
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.close {
  position: absolute;
  display: none;
}

@media screen and (max-width: 1000px) {
  .detail {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
}

.detail::-webkit-scrollbar {
  display: none; /* Chrome */
}

.detail h4 {
  font-weight: bold;
}

.justifyCenter {
  justify-content: center;
}

.img {
  height: 180px;
  object-fit: cover;
  image-rendering: pixelated;
  transition-duration: 100ms;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  height: 250px;
  padding: 20px;
}

.imgError {
  height: 150px;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.idPokemon {
  font-weight: bold;
  color: #8f9396;
}

.loadingBall {
  animation: rotate infinite 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
