.app {
  background-color: #f6f8fc;
  background-image: url("../public/pokeball-icon.png");
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  padding: 20px 20vh;
  display: flex;
  flex-direction: column;
}
