html,
body,
#__next {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
